In [2]:
import pandas as pd

In [3]:
desired_percentage = 50

In [4]:
df = pd.read_csv('feature_files/feature_1.csv',names=["ID",1])

for i in range(2,21):
    temp = pd.read_csv(f'feature_files/feature_{i}.csv', names=["ID",i ])
    df = df.merge(temp,how='outer', left_on='ID', right_on='ID')

df

,ID,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,100,1181.968054,456.352191,9.427243,48.777727,NaN,NaN,50.522812,NaN,NaN,...,2.064689,NaN,NaN,3.416031,29.029847,4960.121602,5426.528210,6222.788718,74.791830,2.179951
1,101,5996.517509,16.441583,NaN,33.278699,805.717154,0.230103,88.822875,1196.577689,NaN,...,9.603035,NaN,NaN,5.950621,9.720958,NaN,7964.523286,NaN,7.709466,6.956862
2,102,9079.605661,853.921305,932.653249,NaN,681.923908,0.505911,NaN,2075.486992,NaN,...,5.500306,NaN,0.490259,6.952456,53.581757,1691.985831,2410.502253,NaN,NaN,0.017770
3,103,9217.686409,397.455567,14.586806,47.116374,NaN,0.283457,46.490824,7936.908996,0.043535,...,NaN,NaN,0.185532,8.481475,NaN,8492.408550,9917.080489,13.413598,58.112948,3.293579
4,104,NaN,158.848102,476.775234,57.885627,NaN,0.895338,14.704710,6946.647629,0.443037,...,6.824114,10.156172,0.960983,5.891555,NaN,NaN,NaN,NaN,NaN,8.670554
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,797,NaN,NaN,651.790495,30.692578,748.787302,0.012006,NaN,NaN,NaN,...,8.399869,44.685785,0.932472,3.981585,76.555762,NaN,1190.277553,4654.033747,NaN,7.122788
895,881,NaN,NaN,99.359150,NaN,967.486139,0.005985,26.546144,1154.678985,0.733201,...,NaN,NaN,NaN,3.759713,89.222106,8674.800735,NaN,844.335136,94.055195,NaN
896,968,NaN,NaN,989.073508,84.965089,NaN,0.684861,NaN,1916.478294,0.843382,...,NaN,46.350772,0.641735,8.210489,10.836091,6463.092829,6416.371747,8262.326316,NaN,3.694195
897,843,NaN,NaN,NaN,80.942138,642.730250,0.883821,79.392693,4195.841116,0.767025,...,1.161970,89.964389,NaN,9.777294,83.480364,8234.323900,6113.121288,NaN,40.261934,NaN
898,976,NaN,NaN,NaN,66.508888,NaN,NaN,33.291225,NaN,0.790171,...,2.835488,NaN,0.734146,2.474147,93.561326,1088.172197,6415.037764,2706.624759,NaN,7.071539

In [5]:
qty_users = 0

for i in range(0,len(df)):
    count = 0
    for j in range(1,len(df.columns)):
        if pd.notnull(df.iloc[i,j]):
            count = count + 1
    if (count / (len(df.columns) - 1) * 100) >=  desired_percentage:
        qty_users = qty_users + 1

qty_users

870